.box__work {
  margin-bottom: 3rem;
  h3 {
    font-size: 3.5rem;
    line-height: 6rem;
    text-shadow: 3px 3px 3px rgba(black, 0.5);
  }
  h4 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-indent: 0;
    padding-left: 1rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.5rem;
    line-height: 3rem;
    text-indent: 3rem;
  }
}
