$planet_origin_size: 13vh;
$planet_size: 13vh*22;
$ring_size: 33vh;
.box__planet {
  &:nth-child(1) {
    transform: translate(-50%, calc( -51.2% - #{$planet_origin_size + 11vh}));
  }
  &:nth-child(2) {
    transform: translate(-50%, -51.2%);
  }
  &:nth-child(3) {
    transform: translate( -50%, calc( -51.2% + #{$planet_origin_size + 11vh}));
  }
}

.planet {
  width: $planet_size;
  height: #{$planet_size*1.2};
}

.text__title {
  font-size: 2vw;
}

.ring {
  width: $ring_size;
  height: $ring_size;
  animation: ring_rotate 60s linear infinite;
}

@keyframes ring_rotate {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
