.box__innerPlanets {
  flex-direction: column;
  padding: 10vh 0 18vh 0;
}

.btn__closePlanet {
  width: 5rem;
  border: solid 5px white;
  padding: 1rem;
  border-radius: 1rem;
}

.box__planets {
  perspective: 100vw;
}

$box_link_padding: 1rem 0.5rem;
.box__link {
  padding: $box_link_padding;
  width: 65vw;
  height: 10vw;
}
